{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <h1>Edit Page</h1>
    <form action="{% url 'save_edit' %}">
        {% csrf_token %}
        <label>Edit title:</label>
        <input type="hidden" name="old_title" value="{{ title }}">
        <input type="text" name="new_title" placeholder="{{ title }}">
        <br/>
        <label>Edit Markdown content:</label>
        <br/>
        <textarea name="content">{{ content }}</textarea>
        <br/>
        <input type="submit" value="Edit" class="btn btn-primary">
    </form>
{% endblock %}